* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("assets/images/gamestart.jpg");
  background-size: cover;
  cursor: default;
}

.header {
  /* border: solid red; */

  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.gameLogo {
  width: 300px;
  /* border: solid blue; */
}

.englishName {
  background-color: white;
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 1000;
  padding: 0 5px;
  border-radius: 5px;
  border: solid black 4px;
}

/* menu */
.menu {
  display: none;
  background-image: url("assets/images/menu.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100vh;
  z-index: 1;
}

.playerSelection {
  width: 80%;
  height: 70vh;
  margin: 3px auto;
  display: flex;
  /* display: none; */
  justify-content: space-around;
  /* border: solid pink; */
}

.playerCard {
  background-color: rgba(255, 255, 255, 90%);
  width: 650px;
  height: 650px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  /* border: yellow solid; */
}

.playerCard:hover {
  background-image: url("assets/images/playerSeclect.gif");
  background-size: cover;
  border: solid #fb0f0c 14px;
}

.keyImg {
  width: 150px;
  /* border: solid blue; */
  margin-bottom: 30px;
}

.player2Key {
  /* border: solid red; */
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#singlePic {
  margin: auto;
  width: 220px;
}

#twoPlayerPic {
  width: 500px;
  /* border: solid red; */
  margin: auto;
}

.playerModePic {
  /* border: solid blue; */
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
}
.playerModeDesc {
  /* border: solid red; */
  width: 90%;
  height: 10%;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

/* menu end */
/* ------------------------------game start---------------- */
.gamePlay {
  display: block;
  z-index: 0;
}

#gameScreen {
  background-color: #cff1e4;
  border-radius: 20px;
}

#gameScreen2 {
  background-color: PINK;
  border-radius: 20px;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: hsl(194.74, 86.8%, 38.63%) solid 8px;
  background-color: white;

  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.playerTitle {
  /* border: solid blue; */
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerID {
  /* border: yellow solid; */
  font-size: 20px;
  margin: 10px;
  color: gray;
}

.playerName {
  font-size: 40px;
}
.playerStatus {
  /* border: solid green; */
  width: 20%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scoreBoard {
  display: flex;
  border: solid pink;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 40px;
}

.goal {
  display: flex;
  /* border: solid orange; */
  justify-content: center;
  align-items: center;
  height: 30%;
  font-size: 25px;
}

.goalItem {
  margin-right: 10px;
}

.scoreItem {
  margin-right: 10px;
}

.life {
  display: flex;
  justify-content: center;

  /* border: solid purple; */
  height: 30%;
  font-size: 25px;
  padding: 10%;
}

.heart {
  height: 40px;
  /* border: solid red; */
  margin-right: 10px;
}

.lifeItem {
  font-size: 40px;
}

.player1Pic {
  width: 50%;
  margin: 0 30%;
  background-color: lightblue;

  /* border: solid green; */
  border-radius: 50%;
}

/* leaderboard */

.leaderBoard {
  display: none;
  height: 100vh;
  width: 100%;
  background-image: url("/assets/images/bg_score.png");
  position: absolute;
  top: 0;
  z-index: 2;
}

.leaderBoardScores {
  height: 320px;
  margin: auto;
  width: 70%;
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: solid green; */
}

.leaderBoardPlayer {
  /* border: solid purple; */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.leaderBoardHeader {
  background-color: rgb(180, 25, 25);
  padding: 10px;
}

.playerTitleLB {
  /* border: solid green; */
  padding: 10px;
  justify-content: center;
}

.playerIDLB {
  color: white;
}

.scoreLB {
  width: 60%;
  height: 230px;
  border: lightgoldenrodyellow solid 10px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
}

.bestScore {
  color: orange;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 10px;
}

.currentScore {
  color: white;
  font-size: 120px;
}

.currentScore2 {
  color: white;
  font-size: 120px;
}

.scoreStatus {
  padding-left: 50px;
}

.leaderBoardBtns {
  /* border: solid green; */
  display: flex;
  justify-content: center;
}

.leaderBoardBtn {
  width: 250px;
  text-align: center;
  background-color: darkorange;
  border: solid rgb(156, 21, 21) 10px;
  border-radius: 20px;
  margin: 30px 50px;
  padding: 20px;
  font-size: 30px;
}

.leaderBoardBtn:hover {
  width: 250px;
  text-align: center;
  background-color: rgb(255, 187, 0);
  border: solid rgb(180, 25, 25) 10px;
  border-radius: 20px;
  margin: 30px 50px;
  padding: 20px;
  font-size: 30px;
}

.winLoseShow {
  width: 150px;
  /* border: solid white; */
}

#winP1 {
  display: none;
}

#lostP1 {
  display: none;
}

#drawP1 {
  display: none;
}

#drawP2 {
  display: none;
}

/* player2 */

.player2 {
  display: none;
}

#player2Score {
  display: none;
}

#tryAgainBtn2 {
  display: none;
}
